<table style="border:none;width:80%">
	<tr>
		<td style="border:none"><span style="font-weight:bold">{{'Inscription'|trans}}: </span>{{ligne.createDt|date("d-m-Y")}}</td>	
	</tr>
	<tr>
		<td style="border:none"><span style="font-weight:bold">{{'Update'|trans}}: </span>{{ligne.updateDt|date("d-m-Y")}}</td>
	</tr>
</table>