<table style="border:none;width:auto;margin:0 auto;vertical-align:top">
	<tr style="border:none;margin:0 auto">
		<td style="border:none;"><span style="margin-left:16px">{{'yes'|trans}}</span></td>	
	</tr>
	<tr style="border:none;margin:0 auto">
		<td style="border:none;margin:0 auto">[<a href="#" onclick="changePassword('{{ligne.idUser}}', '{{ path("nearteam_user_changePassword_user") }}')">{{'regenerate'|trans}}</a>]</td>
	</tr>
</table>